<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
  verbose="false"
  bootstrap="tests/bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnError="false"
  stopOnFailure="false"
  stopOnIncomplete="false"
  stopOnSkipped="false">

  <testsuite name="All tests">
    <directory suffix="Test.php">./tests</directory>
  </testsuite>

</phpunit>
